.bash_history
.bash_logout
.bashrc
.cache/
.config/
.git-credentials
.gitconfig
.gitignore.swp
.gnupg/
.local/
.mozilla/
.pki/
.profile
.sudo_as_admin_successful
.viminfo
.vscode/
.wget-hsts
csed312/
pintos/.vscode/
pintos_copied/
